body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    cursor: pointer;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 66px;
    color: #091133;
}

h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    color: #091133;
}

h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6F7CB2;
}

// header


.header {
    width: 100%;
    height: 1112px;
    background-image: url(../images/header_img/header_bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
}

.header_nav {
    height: 60px;
    display: flex;
    justify-content: center;
    
}

.nav_content {
    width: 75%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav_link {
        width: 245px;
        display: flex;
        justify-content: space-between;
        a {
            width: 49px;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            color: #505F98;
        }
    }

    .nav_btn {
        width: 160px;
        background-color: #111B47;
        border-radius: 2px;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        color: #FFFFFF;
        text-align: center;
    }
}

.header_title {
    width: 539px;
    height: 421px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 263px;
    margin-left: 163px;

    .header_content {
        height: 309px;

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            color: #505F98;
        }
    }

    .header_content_btn {
        width: 408px;
        height: 36px;
        display: flex;
        justify-content: space-between;


        .left_btn {
            width: 189px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #111B47;
            border-radius: 2px;
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            color: #FFFFFF;
        }

        .right_btn {
            width: 189px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FFFFFF;
            border-color: #091133;
            border: 2px solid;
            border-radius: 2px;
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            color: #091133;
        }
    }
}

// header media



@media (max-width: 1280px) {
    .header {
        background: none;
        height: 1000px;
    }

    .header_title_wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;

        .header_title {
            height: 700px;
            align-items: center;
            margin-left: 0;
            margin-top: 150px;


            .header_content {
                height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p {
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 30px;
                    color: #505F98;
                }
            }
        }
    }

}

@media (max-width: 900px) {
    .header_nav {
    }

    .nav_content {
        width: 75%;
        height: 60px;

        .nav_link {
            width: 180px;
        }

        .nav_btn {
            width: 130px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (max-width: 630px) {
    .header_nav {}

    .nav_content {
        width: 75%;
        height: 60px;

        .nav_link {
            width: 160px;

            a {
                width: 49px;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: #505F98;
            }
        }

        .nav_btn {
            width: 110px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (max-width: 590px) {
    .header_nav {}

    .nav_content {
        width: 75%;
        height: 150px;
        flex-direction: column;

        .nav_link {
            width: 300px;
            margin-top: 80px;

            a {
                width: 49px;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: #505F98;
            }
        }

        .nav_logo {
            margin-top: -150px;
        }

    }
}

@media (max-width: 590px) {
    .header {
        background: none;
        height: 900px;
    }

    .header_title_wrapper {
        width: 100%;

        .header_title {
            width: 90%;
            height: 600px;
            align-items: center;
            margin-left: 0;
            margin-top: 150px;


            .header_content {
                height: 460px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h1 {
                    font-size: 50px;
                    font-weight: 400;
                    line-height: 70px;
                }

                p {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    color: #505F98;
                }
            }

            .header_content_btn {
                width: 290px;

                .left_btn {
                    width: 120px;
                    height: 45px;
                }
            
                .right_btn {
                    width: 120px;
                    height: 45px;
                }
            }
        }
    }
}

@media (max-width: 430px) {
    .header {
        height: 1000px;
    }

    .header_title_wrapper {
        width: 100%;

        .header_title {
            height: 650px;
        }
    }
}

@media (max-width: 360px) {
    .header {}

    .header_title_wrapper {
        width: 100%;

        .header_title {
            height: 700px;
        }
    }
}



// main



.main {
    width: 100%;  

    .first_wrapper {
        width: 100%;
        height: 742px;
        display: flex;
        align-items: center;
        justify-content: center;


        .first_info {
            width: 1112px;
            height: 524px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-image: url(../images/main_img/main_bg_1.png);
            background-repeat: no-repeat;
            background-position-x: right;

            .first_info_title {
                width: 540px;
                height: 204px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .first_info_subtitle {
                width: 540px;
                height: 138px;
                display: flex;
                justify-content: space-between;


                .first_info_subtitle_l {
                    width: 255px;


                    p {
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 18px;
                    }
                }

                .first_info_subtitle_r {
                    width: 255px;

                    p {
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 18px;
                    }
                }
            }
        }   
    } 
}

// main media

@media (max-width: 1190px) {
    .main {
        width: 100%;

        .first_wrapper {
            .first_info {
                height: 700px;
                align-items: center;
                text-align: center;
                background: none;

                .first_info_title {
                    width: 540px;
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p {
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 570px) {
    .main {
        width: 100%;
        height: 2300px;

        .first_wrapper {
            height: 800px;  
                      
            .first_info {
                width: 360px;
                height: 700px;
                display: flex;
                

                .first_info_title {
                    width: 360px;
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p {
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 30px;
                    }
                }

                .first_info_subtitle {
                    width: 360px;
                    height: 280px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;


                    .first_info_subtitle_l {
                        width: 255px;


                        p {
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 18px;
                        }
                    }

                    .first_info_subtitle_r {
                        width: 255px;

                        p {
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 430px) {
    .main {
        width: 100%;
        height: 2300px;

        .first_wrapper {

            .first_info {
                height: 800px;
                display: flex;
                justify-content: space-between;

                .first_info_title {
                    width: 260px;
                    height: 300px;
                }
            }
        }
    }
}


// second info

.second_info {
    width: 100%;
    height: 569px;
    display: flex;
    align-items: center;
    justify-content: center;

    .second_wrapper {
        width: 1080px;
        height: 316px;
        display: flex;
        justify-content: space-between;


        .second_img {
            width: 480px;
            height: 316px;
            background-image: url(../images/main_img/main_bg_2.png);
            background-repeat: no-repeat;
            background-position-x: left;
        }
    } 
}

.info_title {
    width: 540px;
    height: 228px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// second info media

@media (max-width: 1190px) {
    .second_info {
        width: 100%;
        height: 700px;

        .second_wrapper {
            height: 650px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .info_title{
                height: 300px;
                p {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                }
            }
        }
    }
}

@media (max-width: 570px) {
    .second_info {
        height: 500px;
        .second_wrapper {
            height: 400px;
            .second_img {
                display: none;
            }
            .info_title {
                width: 360px;
            }
        }
    }
}

@media (max-width: 430px) {
    .second_info {

        .second_wrapper {

            .second_img {}

            .info_title {
                width: 260px;
            }
        }
    }
}


// third info

.third_info {
    width: 100%;
    height: 569px;
    display: flex;
    align-items: center;
    justify-content: center;


    .third_wrapper {
        width: 1080px;
        height: 316px;
        display: flex;
        justify-content: space-between;


        .third_img {
            width: 500px;
            height: 387px;
            background-image: url(../images/main_img/main_bg_3.png);
            background-repeat: no-repeat;
            background-position-x: left;
        }
    }
}

// third info media

@media (max-width: 1190px) {
    .third_info {
        width: 100%;
        height: 850px;

        .third_wrapper {
            height: 750px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .third_img {
                margin-right: -20%;
            }

            .info_title {
                height: 300px;

                p {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                }
            }
        }
    }
}

@media (max-width: 570px) {
    .third_info {
        height: 500px;
        .third_wrapper {
            height: 400px;
            .third_img {
                display: none;
            }
            .info_title {
                width: 360px;
            }
        }
    }
}

@media (max-width: 430px) {
    .third_info {

        .third_wrapper {

            .third_img {}

            .info_title {
                width: 260px;
            }
        }
    }
}


// fourth info

.fourth_info {
    width: 100%;
    height: 569px;
    display: flex;
    align-items: center;
    justify-content: center;


    .fourth_wrapper {
        width: 1080px;
        height: 316px;
        display: flex;
        justify-content: space-between;


        .fourth_img {
            width: 445px;
            height: 312px;
            background-image: url(../images/main_img/main_bg_4.png);
            background-repeat: no-repeat;
            background-position-x: left;
        }

        .info_title {
            width: 445px;
            height: 302px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            a {
                width: 150px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #091133;
                border-radius: 2px;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                color: #FFFFFF;
                z-index: 99;
            }
        }
    }
}

// fourth info media

@media (max-width: 1190px) {
    .fourth_info {
        width: 100%;
        height: 800px;

        .fourth_wrapper {
            height: 750px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .info_title {
                height: 400px;
                align-items: center;

                p {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                }
            }
        }
    }
}

@media (max-width: 570px) {
    .fourth_info {
        height: 500px;

        .fourth_wrapper {
            height: 400px;

            .fourth_img {
                display: none;
            }

            .info_title {
                width: 360px;
            }
        }
    }
}

@media (max-width: 430px) {
    .fourth_info {
        .fourth_wrapper {
            .fourth_img {}

            .info_title {
                width: 260px;

                a {
                    margin-top: 20px;
                }
            }
        }
    }
}


.empty {
    width: 100%;
    height: 106px;
    position: absolute;
    border-radius: 0 0 100% 100%;
    background-color: #FFFFFF;
}


// footer

.footer {
    width: 100%;
    height: 1068px;
    background-color: rgba(231, 236, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .footer_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .footer_title {
        width: 600px;
        height: 395px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin-top: 285px;

        .price {
            h2 {
                font-size: 50px;
                font-weight: 500;
                line-height: 66px;
            }
        }

        .price_btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
            }

            a {
                width: 189px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #111B47;
                border-radius: 2px;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                color: #FFFFFF;
            }
        }
    }
}


// footer media

@media (max-width: 1190px) {
    .footer {
        width: 100%;
        height: 1068px;
        background-color: rgba(231, 236, 255, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .footer_wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        .footer_title {
            width: 500px;
            height: 550px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            margin-top: 200px;

            .price_text {
                h2 {
                    margin-bottom: 40px;
                }

                p {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                }
            }

            .price_btn {
                p {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media (max-width: 570px) {
    .footer {
        
        .footer_title {
            width: 300px;
        }
    }
}


// footer navigation

.footer_nav {
    width: 100%;
    height: 216px;
    background-color: #E7ECFF;
    display: flex;
    justify-content: center;


    .footer_nav_wrapper {
        width: 75%;
        height: 123px;
        margin-top: 67px;


        .footer_nav_top {
            height: 72px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #CDD1D4;
            
            address {
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                color: #939EA4;
            }

            .footer_nav_btn {
                width: 109px;
                height: 26px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #111B47;
                border-radius: 2px;
                font-size: 12px;
                font-weight: 500;
                line-height: 18px;
                color: #FFFFFF;
                text-align: center;
            }
        }

        .footer_nav_bottom {

            height: 24px;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;

            .footer_nav_link {
                width: 245px;
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                color: #929ECC;
            }

            .footer_media_link {
                width: 200px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

// footer navigation media

@media (max-width: 850px) {
    .footer_nav {
        width: 100%;
        height: 216px;
        background-color: #E7ECFF;
        display: flex;
        justify-content: center;
        padding-top: 40px;


        .footer_nav_wrapper {
            width: 75%;
            height: 123px;
            margin-top: 0px;
            display: flex;
            flex-direction: column-reverse;


            .footer_nav_top {
                height: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: none;
                margin-top: 30px;

                address {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                    color: #939EA4;
                }

                .footer_nav_logo {
                    display: none;
                }

                .footer_nav_btn {
                    width: 109px;
                    height: 26px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #111B47;
                    border-radius: 2px;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 18px;
                    color: #FFFFFF;
                    text-align: center;
                }
            }

            .footer_nav_bottom {
                height: 100px;
                margin-top: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-bottom: 1px solid #CDD1D4;

                .footer_nav_link {
                    width: 245px;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #929ECC;
                }

                .footer_media_link {
                    width: 240px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}
