doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/reset.css")
        link(rel="stylesheet", href="./style/main.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet")
        title Document
    body
       header.header
        .header_nav
            .nav_content 
                .nav_link
                    a(class='' href='//google.com') Home
                    a(class='' href='//google.com') About 
                    a(class='' href='//google.com') Contact
                .nav_logo
                    img(src="./images/header_img/Landie.png", alt="logo")
                .nav_btn
                    a(href='//google.com') Buy Now
        .header_title_wrapper 
            .header_title
                .header_content 
                    h1 Introduce Your Product Quickly & Effectively
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus <br> <br> mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                .header_content_btn 
                    a(class='left_btn' href='//google.com') Purchase UI Kit 
                    a(class='right_btn' href='//google.com') Learn More

                    //- main
       main.main
        .first_wrapper
            .first_info
                .first_info_title 
                    h2 Light, Fast & Powerful
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus <br> <br>mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                .first_info_subtitle
                    .first_info_subtitle_l 
                        img(src="./images/main_img/Icon.png", alt="project")
                        h3 Title Goes Here
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                    .first_info_subtitle_r 
                        img(src="./images/main_img/Icon.png", alt="project")
                        h3 Title Goes Here
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
        .second_info
            .second_wrapper 
                .second_img
                .info_title
                    h2 Light, Fast & Powerful
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus <br> <br>mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        .third_info
            .third_wrapper 
                .third_img
                .info_title
                    h2 Light, Fast & Powerful
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus <br> <br>mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        .fourth_info
            .fourth_wrapper 
                .fourth_img
                .info_title
                    h2 Light, Fast & Powerful
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus <br> <br>mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    a(href="//google.com") Purchase Now
        .empty

        //- footer
       footer.footer
        .footer_wrapper
            .footer_title 
                .price_text
                    h2 A Price To Suit Everyone
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
                .price 
                    h2 $40
                    p UI Design Kit
                .price_btn
                    p See, One price. Simple.
                    a(href="//google.com") Purchase Now
        .footer_nav
            .footer_nav_wrapper
                .footer_nav_top
                    address ©2020 Yourcompany
                    .footer_nav_logo
                        img(src="./images/header_img/Landie.png", alt="logo")
                    .footer_nav_btn
                        a(href='//google.com') Purchase now
                .footer_nav_bottom
                    .footer_nav_link
                        a(class='' href='//google.com') Home
                        a(class='' href='//google.com') About 
                        a(class='' href='//google.com') Contact
                    .footer_media_link
                        a(href="//google.com"): img(src="./images/footer_img/icon_1.png")
                        a(href="//google.com"): img(src="./images/footer_img/icon_2.png")
                        a(href="//google.com"): img(src="./images/footer_img/icon_3.png")
                        a(href="//google.com"): img(src="./images/footer_img/icon_4.png")
                        a(href="//google.com"): img(src="./images/footer_img/icon_5.png")
                        